<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<form method="post" action="/input">
    <input type="text" name="id">
    <input type="text" name="username">
    <input type="submit" value="Submit">
</form>

</body>
</html>
